*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper{
	display:flex;
	height: 100vh;
	position: relative;

}
.main{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(./img1.jpg) no-repeat center;
	background-size: cover;
	z-index: 3;
}
.main__title{
	color: #fff;
	font-size: 52px;
	font-family: 'Arial';

}
.overlay{
	width: 2%;
	height: 100%;
	position: relative;
	z-index: 4;
	background: url(./img2.jpg) no-repeat center;
	background-attachment: fixed;
	transition: 1.2s linear;
}
.overlay:hover{
	transition: 0s linear;
	opacity: 0;
}
